body {
    font-family: Bodoni;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 , h2 {
    font-family: Bodoni;
    text-align: center;
    color: #712e90;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
  } 
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #8b5aa0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px
  }
  
  .btn:hover {
    background-color: #712e90;
  }
  
  .left-column {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
  }
  
  .right-column {
    padding: 200px;
    flex: 2;
  }